@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

*{
  font-family : Outfit;
}

@theme {
    --color-primary: #5f6FFF;
    --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr{
    @apply block
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }


  @media (max-width:740px){
    .active p{
      @apply text-white bg-primary; 
    }
  }